<a href="https://colab.research.google.com/github/alessaag/cursoIA_Polygonus/blob/main/Clase_N%C2%B02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ‚öõ**VARIABLES MATEM√ÅTICAS Y DE L√ìGICA EN IA**‚öõ
---

‚úÖ **DEFINICI√ìN DE VARIABLE**

1.  **Nombre:** Es la etiqueta que se le da a la variable para identificarla.
2.  **Tipo de dato:** Es el tipo de informaci√≥n que la variable puede almacenar.
3.  **Valor:** Es el contenido actual de la variable.

---

In [ ]:
nombre = 'Juan'
edad = '25'
estatura = '1.75'

#Las variables se declaran con el nombre y valor
#El tipo de dato se infiere autom√°ticamente de Python

print(nombre) #Imprime 'Juan'
print(edad) #Imprime '25'
print(estatura) #imprime '1.75'

# üî¢**TIPOS DE VARIABLES** üî¢

---

### **1.  Enteras (int):** para almacenar n√∫meros enteros, sin decimales.

In [ ]:
edad = 25

In [ ]:
Temperatura_Tokio = -4

### **2.  Flotantes (float):** para almacenar n√∫meros decimales.

In [ ]:
precio = 19.99

In [ ]:
altura = 1.85

### **3.  Booleanos (bool):** para representar valores de verdad, es decir, verdadero (true) o falso (false).

In [ ]:
es_mayor_de_edad = True

In [ ]:
tiene_descuento = False

### **4. Cadena de caracteres (string):** para almacenar texto.

In [ ]:
nombre = 'Juan'

In [ ]:
mensaje = '¬°Bienvenidos al curso Matem√°ticas B√°sicas para IA!'

In [ ]:
print(nombre)
print(mensaje)

### **5. Listas (list):** Son estructuras de datos que pueden contener m√∫ltiples elementos de diferentes tipos.

In [ ]:
numeros = [1, 2, 3, 4, 5]

In [ ]:
nombres = ["Juan", "Mar√≠a", "Pedro"]

In [ ]:
mi_lista = ["a", "b", "c"]

# Accede al primer elemento (√≠ndice 0)
primer_elemento = mi_lista[0]

# Imprime "a"
print(primer_elemento)

# üî• **OPERACIONES MATEM√ÅTICAS B√ÅSICAS (EJEMPLOS Y APLICACIONES)** üî•


‚úÖ Suma(+)

‚úÖ Resta (-)

‚úÖ Multiplicaci√≥n (*)

‚úÖ Division (/)

‚úÖ Potenciaci√≥n (**)

‚úÖ Radicaci√≥n (sqrt)

### **EJEMPLO 1:** Calcular el volumen de un cubo üßä

Entrada:
* Lado del cubo: 3

Salida:
* Volumen del cubo: 27

In [ ]:
from IPython.display import Image

Image(url='https://qph.cf2.quoracdn.net/main-qimg-7338a53e735d120fc6297f2ca24a8017-lq', width = 600, height = 500)

In [ ]:
lado = 3
volumen = lado**3
print("El volumen del cubo es:", volumen)

### **EJEMPLO 2:** Calcular la temperatura en Fahrenheit a partir de la temperatura en Celsius. ü•µü•∂

Entrada:
* Temperatura en Celsius: 20

Salida:
* Temperatura en Fahrenheit: 68

In [ ]:
celsius = 20
fahrenheit = (celsius*9/5)+32
print("La temperatura en Fahrenheit es:", fahrenheit)

# **EJERCICIOS DE PR√ÅCTICA** ‚õ≥

‚úÖ **Determinar el √°rea de un tri√°ngulo a partir de su base y altura.**

Entrada:
* Base: 10
* Altura: 8

Salida:
* Area: 40

üîé***PISTA:*** *El √°rea de un tri√°ngulo se determina multiplicando (base x altura) dividido entre dos.*

‚úÖ**Calcular el IMC (√çndice de Masa Corporal)**

Entrada:

* Peso: 70
* Altura: 1.75

Salida:

* IMC: 22.86

üîé***PISTA:*** *El √≠ndice de masa corporal (IMC) se calcula dividiendo el peso en kilogramos por el cuadrado de la altura en metros.*

**Interpretaci√≥n de los resultados:**

‚ñ∂ **Menos de 18.5:** Bajo peso

‚ñ∂ **18.5 - 24.9:** Peso normal

‚ñ∂ **25.0 - 29.9:** Sobrepeso

‚ñ∂ **30.0 o m√°s:** Obesidad